

@{
    ViewBag.Title = "TabForRegister";
}

<h2>TabForRegister</h2>

<div id="tabs" >
   <center>
     <table>
        <tr>
            <td>
                @Html.ActionLink("HR Registration", "Create", "HRRegistration", null, new { @class = "hsonuc1" })
            </td>
            <td>
                @Html.ActionLink("Individual Registration", "Create", "Registration", null, new { @class = "hsonuc" })
            </td>
        </tr>
    </table>
   </center>
          
            
  

</div>